{{#each erro}}
    <div class="alert alert-danger">
        {{texto}}
    </div>
{{/each}}


<h3>Editar Postagem:</h3>
<div class="card-body">
    <div class="card">

        <form action="/admin/postagem/edit" method="post" class="m-4">

            <label for="titulo" class="m-2">Título:</label>
                <input type="text" id="titulo" name="titulo" class="form-control" value="{{postagem.titulo}}">

            <label for="slug" class="m-2">Slug:</label>
                <input type="text" id="slug" name="slug" class="form-control" value="{{postagem.slug}}"> 
            
            <label for="descricao" class="m-2">Descrição:</label>
                <input type="text" id="descricao" name="descricao" class="form-control" value="{{postagem.descricao}}">

            <label for="descricao" class="m-2">Conteúdo:</label> 
                <textarea name="conteudo" class="form-control">{{postagem.conteudo}}</textarea>

            <label for="categoria" class="m-2">Categoria:</label>

                <select name="categoria" id="categoria" class="form-select">
                    {{#each categorias}}
                        <option value="{{_id}}">{{nome}}</option>
                    {{else}}
                        <option value="0">Sem Categoria</option>
                    {{/each}}
                </select>
            <br>

            <input type="hidden" name="id" value="{{postagem._id}}">
                
            <button class="btn btn-success ">Editar Postagem</button>

        </form>

    </div>
</div>