<h3 class="m-3"> {{categoria.nome}} </h3> <br>

{{#each postagens}}

    <div class="card m-3">
        <div class="card-body m-">
            <h3>{{titulo}}</h3>
            <p>{{descricao}}</p>
            <a href="/postagem/{{slug}}"> <button class="btn btn-success"> Leia Mais </button> </a>
            <hr>
            <small> Publicação: {{data}} </small>
        </div>
    </div>

{{else}}
    <h3>Nenhuma postagem cadastrada nessa categoria</h3>
{{/each}}